server:
  port: 8000

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/noteTakingDatabase
    username: postgres
    password: postgres
  jpa:
    hibernate:
        ddl-auto: update
    show-sql: false